@charset "UTF-8";

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

#pagesContainer .page {
    cursor: move;
}

#pagesContainer .page.dragElem {
    opacity: 0.4;
}

#pagesContainer .page.over {
    /* border: 2px dashed #000; */
    border-left: 5px solid blue;
}